<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Result</title>
</head>
<body>
    <div class="container">
        <h1><%= message %></h1>
        <a href="/">Try Again</a>
    </div>
    

    <!-- Floating Hearts Animation -->
    <div class="heart"></div>
    <div class="heart"></div>
    <div class="heart"></div>
    <div class="heart"></div>
    <div class="heart"></div>

    
    
</body>
</html>
